<!-- <div class="navbar-page">
    <div class="first-navbar">
        <div class="logo-section">
            <a href="" target="">
                <img src="assets/images/main-logo-white.png" alt="" />
            </a>
            <div class="main-search">
                <div class="search-section">
                    <input type="text" placeholder="Search top beats" class="input-field"/>
                    <select name="beats" id="cars" class="beats">
                        <option value="volvo">General</option>
                        <option value="saab">Beat</option>
                        <option value="opel">Tag</option>
                        <option value="audi">Mood</option>
                    </select>
                </div>   
            </div>
        </div>
        <div class="signup-section">
            <div class="sign-in-btn">
                <a href="" target="">Sign In</a>
            </div>
            <div class="selling-btn">
                <button type="button" class="btn-primary">Start Selling</button>
            </div>
        </div>
    </div>
    <div class="second-navbar">
        <div class="music-list">
            <div class="beat-btn"><span>Beats</span>
                <div class="beats-list">
                    <ul>
                        <li class="list-items"><i class="fa fa-music" aria-hidden="true"></i>All Beats</li>
                        <li class="list-items">Trending Beats</li>
                        <li class="list-items">Beats</li>
                        <li class="list-items">Beats with Hooks</li>
                        <li class="list-items">Switch Beats</li>
                        <li class="list-items">All Playlists</li>
                        <li class="list-items">Karan Aujla Type Beats</li>
                        <li class="list-items">Raftaar Type Beats</li>
                        <li class="list-items">Ikka Type Beats</li>
                    </ul>
                </div>
            </div>
            <div class="genre-btn">
                <span>Genres</span>
                <div class="genre-list">
                    <ul>
                        <li>
                            <a href="" target="">
                                <img src="" alt=""/>
                                <p>All Genres</p>
                            </a>
                        </li>
                        <li>
                            <a href="" target="">
                                <img src="" alt=""/>
                                <p>Hip Hop</p>
                            </a>
                        </li>
                        <li>
                            <a href="" target="">
                                <img src="" alt=""/>
                                <p>Trap</p>
                            </a>
                        </li>
                        <li>
                            <a href="" target="">
                                <img src="" alt=""/>
                                <p>Drill</p>
                            </a>
                        </li>
                        <li>
                            <a href="" target="">
                                <img src="" alt=""/>
                                <p>R&B</p>
                            </a>
                        </li>
                        <li>
                            <a href="" target="">
                                <img src="" alt=""/>
                                <p>Indian</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
           
        </div>
        
    </div>
    
</div> -->
<div class="navbar-page">
    <div class="first-navbar">
        <div class="logo-section">
            <a href="" target="">
                <img src="assets/logo/main-logo-white.png" alt="" />
            </a>
            <div class="main-search">
                <div class="search-section">
                    <input type="text" placeholder="Search top beats" class="input-field"/>
                    <select name="beats" id="cars" class="beats">
                        <option value="volvo">General</option>
                        <option value="saab">Beat</option>
                        <option value="opel">Tag</option>
                        <option value="audi">Mood</option>
                    </select>
                </div>   
            </div>
      
        </div>
        <div class="signup-section">
            <div class="sign-in-btn">
                <a href="" target="">Sign In</a>
            </div>
            <div class="selling-btn">
                <button type="button" class="btn-primary">Start Selling</button>
            </div>
        </div>
    </div>
    <div class="mobile-view-main-search">
        <div class="search-section">
            <input type="text" placeholder="Search top beats" class="input-field"/>
            <select name="beats" id="cars" class="beats">
                <option value="volvo">General</option>
                <option value="saab">Beat</option>
                <option value="opel">Tag</option>
                <option value="audi">Mood</option>
            </select>
        </div>   
    </div>
    <div class="second-navbar">
        <div class="music-list">
            <div class="beat-btn"><span>Beats</span>
                <div class="beats-list">
                    <ul>
                        <li class="list-items"><img src="assets/icon/all-beat-icon.png" alt=""/>All Beats</li>
                        <li class="list-items"><img src="assets/icon/trending-beat-icon.png" alt=""/>Trending Beats</li>
                        <li class="list-items"><img src="assets/icon/beat-icon.png" alt=""/>Beats</li>
                        <li class="list-items"><img src="assets/icon/beat-with-hook-icon.png" alt=""/>Beats with Hooks</li>
                        <li class="list-items"><img src="assets/icon/switch-beat-icon.png" alt=""/>Switch Beats</li>
                    </ul>
                    <ul>
                        <li class="list-items"><img src="assets/icon/playlist-icon.png" alt=""/>All Playlists</li>
                        <li class="list-items"><img src="assets/icon/playlist-icon.png" alt=""/>Karan Aujla Type Beats</li>
                        <li class="list-items"><img src="assets/icon/playlist-icon.png" alt=""/>Raftaar Type Beats</li>
                        <li class="list-items"><img src="assets/icon/playlist-icon.png" alt=""/>Ikka Type Beats</li>
                    </ul>
                </div>
            </div>
            <div class="genre-btn">
                <span>Genres</span>
                <div class="genre-list">
                    <ul>
                        <li>
                            <a href="" target="">
                                <img src="assets/images/all-genre-icon.png" alt=""/>
                                <p>All Genres</p>
                            </a>
                        </li>
                        <li>
                            <a href="" target="">
                                <img src="assets/images/hiphop.jpg" alt=""/>
                                <p>Hip Hop</p>
                            </a>
                        </li>
                        <li>
                            <a href="" target="">
                                <img src="assets/images/trap.jpg" alt=""/>
                                <p>Trap</p>
                            </a>
                        </li>
                        <li>
                            <a href="" target="">
                                <img src="assets/images/drill.jpg" alt=""/>
                                <p>Drill</p>
                            </a>
                        </li>
                        <li>
                            <a href="" target="">
                                <img src="assets/images/rnb2.jpg" alt=""/>
                                <p>R&B</p>
                            </a>
                        </li>
                        <li>
                            <a href="" target="">
                                <img src="assets/images/indian.jpg" alt=""/>
                                <p>Indian</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
           
        </div>
        
    </div>
    
</div>