.navbar-page {
    margin-top: 20px;
    position: sticky;
    top: 0;
    background-color: #1e1e1e;
    z-index: 99999;
    .first-navbar {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(0.25turn, rgb(31, 30, 30), rgb(252, 252, 252), rgba(255, 255, 255, 0));
        border-image-slice: 1;
        width: 100%;
        padding-bottom: 15px;
        padding-top: 1%;
        .logo-section {
            display: flex;
            justify-content: space-between;
            margin: 0 3rem;
            .thumbar-icon{
                display: none;
            }
            .main-search {
                width: calc(100% - 196px);
                height: 35px;
                display: flex;
                align-items: center;
                gap: 6px;

                .search-section {
                    display: flex;
                    background: #303030;
                    border: 0.75px solid #616161;
                    border-radius: 6px;
                    width: 100%;
                    align-items: center;
                    height: 100%;
                    padding: 5px;

                    .input-field {
                        border-radius: 6px;
                        padding: 0px 15px;
                        background: unset;
                        border: unset;
                        height: 100%;
                        line-height: 19px;
                        letter-spacing: .01em;
                        color: #8a8a8a;
                        width: calc(100% - 96px);
                    }

                    .beats {
                            min-width: 120px;
                            font-family: inter-regular, sans-serif;
                            background: #3f3f3f;
                            border-radius: 3px;
                            height: 29px;
                            border: none;
                            padding: 0px 6px;
                            font-size: 13.2px !important;
                    }
                }
            }

        }

        .signup-section {
            display: flex;
           
            margin-right: 60px;
            column-gap: 20px;
            .sign-in-btn {
                margin-top: 10px;
                font-size: 14px;
                font-family: sans-serif;
                a {
                    text-decoration: none;
                    display: inline-block;
                }

                a:after {
                    display: block;
                    content: '';
                    border-bottom: solid 3px #fff;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                }

                a:hover:after {
                    transform: scaleX(1.5);
                }
            }

            .selling-btn {
                font-size: 12px;
                font-family: Manrope, sans-serif;
                .btn-primary {
                    height: 38px;
                    background: linear-gradient(169deg, #7000FF 0%, #7A00FF 31.77%, #8F00FF 100%);
                    border: none;
                    border-radius: 6px;
                    padding: 0px 15px;
                }
            }
        }
    }

    .second-navbar {
        margin-top: 20px;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(0.25turn, rgb(31, 30, 30), rgb(252, 252, 252), rgba(255, 255, 255, 0));
        border-image-slice: 1;
        width: 100%;

        .music-list {
            display: flex;
            column-gap: 50px;
            margin-left: 35px;
            span {
                cursor: pointer;
            }

            span:after {
                display: block;
                content: '';
                border-bottom: solid 3px #fff;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;

            }

            span:hover:after {
                transform: scaleX(1);
            }

            .list-items:after {
                display: block;
                content: '';
                border-bottom: solid 3px #fff;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;

            }

            .list-items:hover:after {
                transform: scaleX(1);
            }
            .beat-btn{
                font-weight: 400;
                font-size: .875rem;
                padding: 0 17px;
                font-family: Inter, sans-serif;
                text-transform: uppercase;
                justify-content: center;
                align-items: center;
            }
        }

        .beats-list {
            display: none;
            margin-top: 10px;
            text-transform: capitalize;
            ul {
                margin: 0px -40px;
            }

            u,
            li {
                list-style-type: none;
                font-weight: 400;
                font-size: .875rem;
                padding: 0 17px;
                font-family: Inter, sans-serif;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                display: contents;

                img {
                    height: 20px;
                }
                span{
                    margin-left: 10px;
                }
            }
        }

        .genre-btn{
            span{
                font-weight: 400;
                font-size: .875rem;
                padding: 0 17px;
                font-family: Inter, sans-serif;
                text-transform: uppercase;
                justify-content: center;
                align-items: center;
            }
        }
        .genre-list {
            display: none;
            text-transform: capitalize;

            ul {
                display: flex;
                border: none;
                list-style-type: none;
                margin: 10px 0px 0px -40px;
                column-gap: 25px;
                li {
                    font-weight: 400;
                    font-size: .875rem;
                    padding: 0 17px;
                    font-family: Inter, sans-serif;
                    justify-content: center;
                    align-items: center;

                    a {
                        text-decoration: none;

                        img {
                            height: 70px;
                            width: 70px;
                            margin: 0;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }

    }

    .beat-btn:hover .beats-list {
        display: block;
        display: flex;
        column-gap: 50px;
    }

    .genre-btn:hover .genre-list {
        display: block;
    }

}

.mobile-view-main-search {
    display: none;
}

@media only screen and (max-width: 992px) {

    .signup-section{
        .sign-in-btn{
            font-size: .875rem;
            font-weight: 400;
            font-style: normal;
            line-height: 19px;
        }
    }
    .mobile-view-main-search {
        display: block;
        width: calc(100% - 102px);
        height: 30px;
        display: flex;
        align-items: center;
        margin: 5px 50px;

        border-bottom: 1px solid transparent;
        border-image: linear-gradient(0.25turn, rgb(31, 30, 30), rgb(252, 252, 252), rgba(255, 255, 255, 0));
        border-image-slice: 1;
        //width: 100%;
        padding-bottom: 15px;

        .search-section {
            display: flex;
            background: #303030;
            border: 0.75px solid #616161;
            border-radius: 6px;
            width: 100%;
            align-items: center;
            height: 100%;
            padding: 5px;

            .input-field {
                font-size: .8rem;
                border-radius: 6px;
                padding: 0px 15px;
                background: unset;
                border: unset;
                height: 100%;
                line-height: 19px;
                letter-spacing: .01em;
                color: #8a8a8a;
                width: calc(100% - 96px);
            }

            .beats {
                display: block;
                width: 120px;
                min-width: 120px;
                font-family: inter-regular, sans-serif;
                background: #3f3f3f;
                border-radius: 3px;
                color: #fff;
                height: 29px;
                border: none;
                padding: 0px 6px;
                option{
                    font-size: .825rem;
                }
            }
            
        }
    }
    .main-search {
        display: none !important;
    }
}
@media only screen and (max-width: 756px) {
    .navbar-page{
        .first-navbar{
            .logo-section{
                .thumbar-icon{
                    display: block;
                    margin-top: 10px;
                    margin-left: 10px;
                    font-size: 20px;
                }
                .music-logo{
                    padding-left: 15px;
                }
            }
        }
       
        .signup-section{
            .sign-in-btn{
                display: none;
            }
        }
        .mobile-view-main-search {
            display: block;
            width: calc(100% - 102px);
            height: 30px;
            display: flex;
            align-items: center;
            margin: 5px 50px;
    
            border-bottom: none;
            border-image: none;
            border-image-slice: none;
            //width: 100%;
            padding-bottom: 15px;
    
            .search-section {
                display: flex;
                background: #303030;
                border: 0.75px solid #616161;
                border-radius: 6px;
                width: 100%;
                align-items: center;
                height: 100%;
                padding: 5px;
    
                .input-field {
                    font-size: .8rem;
                    border-radius: 6px;
                    padding: 0px 15px;
                    background: unset;
                    border: unset;
                    height: 100%;
                    line-height: 19px;
                    letter-spacing: .01em;
                    color: #8a8a8a;
                    width: calc(100% - 96px);
                }
    
                .beats {
                    display: block;
                    width: 120px;
                    min-width: 120px;
                    font-family: inter-regular, sans-serif;
                    background: #3f3f3f;
                    border-radius: 3px;
                    color: #fff;
                    height: 29px;
                    border: none;
                    padding: 0px 6px;
                    option{
                        font-size: .825rem;
                    }
                }
                
            }
        }
        .second-navbar{
            display: none;
        }
    }
   
}